

<div class = 'images-div'>
   <table>
     <tr>
       <td>
         <%= link_to image_tag("/assets/images.jpeg"), :action => 'index', :controller => 'home'%><br>Set Question papaer
       </td>
      <td>   
         <%= link_to image_tag("/assets/images1.jpeg"), :action => 'user_name', :controller => 'users' %><br>View Student Details
      </td>  
   </tr>
   </table>    
</div>