<center><h2> Student Details: </h2></center>
<div id = 'detail'>
<% @count = 1 %>
	
	
	<% User.all.each do |user| %>
	<%= @count %>. 
	<%= link_to user.user_name, admin_user_detail_path(user) %><br>
	<% @count =  @count + 1 %>
	<% end %>
</div>